.form-group
  = f.label :slug, class: 'control-label col-lg-2'
  .col-lg-10
    = f.text_field :slug, class: 'form-control'
.form-group
  = f.label :visible, class: 'control-label col-lg-2'
  .col-lg-10
    = f.check_box :visible
= f.hidden_field :id
