= form_for [:admin, page], html:{class: 'form-horizontal'} do |f|
  .form-group
    = f.label :title, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, class: 'form-control'
  - if page.persisted?
    = render partial: 'admin/pages/edit_fields', locals: { f: f, page: page }
  .form-group
    = f.label :body, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_area :body, class: 'form-control wysihtml5', rows: 20


  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit I18n.t("save"), class: "btn btn-primary"
