.content-header
  h2 = I18n.t("pages.pages")
.content
  .row
    .col-lg-12
      .box.box-primary
        .box-header
          h3.box-title
            = link_to I18n.t("pages.create"), new_admin_page_path , class: 'btn btn-primary btn-sm', data: { turbolinks: false }
        .box-body
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th = I18n.t("title")
                  th = I18n.t("actions")
              tbody
                - @pages.each do |page|
                  tr
                    td = page.title
                    td
                      = link_to I18n.t("edit"), edit_admin_page_path(page), class: 'btn btn-success btn-sm', data: { turbolinks: false }
                      = "\s"
                      = link_to I18n.t("delete"), edit_admin_page_path(page), class: 'btn btn-danger btn-sm'
