title Admin
= csrf_meta_tags
= action_cable_meta_tag
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag href=\
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"
