doctype HTML
HTML
  head
    = render 'layouts/admin/shared/header'
  
  body.fixed.skin-red
    .wrapper
      = render 'layouts/admin/navigation/layout'
      .content-wrapper
        = render 'layouts/admin/shared/flash'
        = yield
