.main-sidebar
  .sidebar
    .user-panel
      .pull-left.image
        img.img-circle alt=("User Image") src="http://placehold.it/160x160" /
      .pull-left.info
        p User Name
        a href="#"
          i.fa.fa-circle.text-success
          | Online
    ul.sidebar-menu
      li
        = link_to I18n.t('pages.pages'), admin_pages_path
      li
        = link_to I18n.t('categories.categories'), admin_categories_path
