= form_for [:admin, category], html:{class: 'form-horizontal'} do |f|
  .form-group
    = f.label :name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :parent_id, I18n.t('parent'), class: 'control-label col-lg-2'
    .col-lg-10
      = f.select :parent_id, tree_select_box(category_tree), class: 'form-control', include_blank: true
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit I18n.t("categories.save"), class: "btn btn-primary"
