table.table.table-hover
  thead
    tr
     td = I18n.t('name')
     td = I18n.t('quantity')
     td = I18n.t('visibility')
     td = I18n.t('created_at')
     td = I18n.t('pictures')
  tbody
    - category.products.each do |product|
      = render product
