.content-header
  h2 = I18n.t("categories.categories")
.content
  .row
    .col-lg-12
      .box.box-primary
        .box-header
          h3.box-title
            = link_to I18n.t("categories.create"), new_admin_category_path , class: 'btn btn-primary btn-sm', data: { turbolinks: false }
        .box-body
          ol.sortable#categories
            = render_tree_view(categories)
javascript:
  $(document).ready(function(){
    $('ol.sortable').nestedSortable({
      forcePlaceholderSize: true,
      handle: 'div',
      helper: 'clone',
      items: 'li',
      opacity: .6,
      placeholder: 'placeholder',
      revert: 250,
      tabSize: 25,
      tolerance: 'pointer',
      toleranceElement: '> div',
      maxLevels: 4,
      isTree: true,
      expandOnHover: 700,
      startCollapsed: false,
      update: function( event, ui ) {
        var draggedItem = ui.item;
        var nodeId = draggedItem.data('node-id');
        var parendNodeId = draggedItem.parents('.mjs-nestedSortable-expanded')
                                      .data('node-id') || null;
        $.ajax({
          url: '/admin/categories/'+nodeId,
          method: 'PATCH',
          data: {
            category: {
              parent_id: parendNodeId,
              position: draggedItem.index()
            }
          }
        })
      }
    });
  });
