.row
  .col-lg-12
    .box
      .box-header
        h2
          = "| #{I18n.t('categories.new')}"
      .box-body
        = render partial: 'admin/categories/form', locals: { category: @category_form }
