.content-header
  h2 = "#{I18n.t('category')} | #{category.name}"
.content
  .row
    .col-lg-12
      .box.box-primary
        .box-header
          h3.box-title
            = link_to I18n.t('products.add'), new_admin_category_product_path(category), class: 'btn btn-sm btn-primary'
        .box-body
          - if category.products.any?
            = render partial: '/admin/categories/products'
          - else
            .container
              h2.jumbotron.text-center = I18n.t('categories.no_products')
