= form_for [:admin, category, product], html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.label :name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :quantity, class: 'control-label col-lg-2'
    .col-xs-1
      = f.number_field :quantity, class: 'form-control', min: "0"

  .form-group
    = f.label :visible, class: 'control-label col-lg-2'
    .col-lg-10
      = f.check_box :visible

  - if product.persisted?
    = render partial: '/admin/products/edit_fields', locals: { f: f }

  .form-group
    = f.label :pictures, class: 'control-label col-lg-2'
    .col-lg-10
      = f.file_field :pictures, multiple: true

  .form-group
    = f.label :description, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_area :description, class: 'form-control wysihtml5', rows: 20

  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit I18n.t("save"), class: "btn btn-primary"
