tr
  td = link_to product.name, edit_admin_category_product_path(category, product), data: { turbolinks: false }
  td = product.quantity
  td = product.visible
  td = product.created_at.strftime("%B %d, %Y")
  td
    -if product.pictures?
      = image_tag product.pictures.first.thumb.url
    -else
      p No Picture
