.content-header
  h2 = "#{I18n.t('product')} | #{@product.name}"
.content
  .row
    .col-lg-12
      .box.box-primary
        .box-header
          = render partial: '/admin/products/form', locals: { product: @product, category: @category }
