.content-header
  h2 = "#{I18n.t('products.create')}"
.content
  .row
    .col-lg-12
      .box.box-primary
        .box-header
          = render partial: '/admin/products/form', locals: { product: @product_form, category: @category }
