#categories .actions {
  margin-top: 10px;
  border: none;
  border-radius: 0;
  border-top: solid 1px #D6D6D5;
}

#categories .header {
  background: #3c8cbc;
  color: white;
  padding: 5px;
  font-weight: bold;
  border: solid 1px #222d32;
}

.btn-toolbar {
  padding-top: 5px;
}
