.mjs-nestedSortable-error {
     background: #fbe3e4;
     border-color: transparent;
}
 #tree {
     width: 550px;
     margin: 0;
}
 ol {
     max-width: 450px;
     padding-left: 25px;
}
 ol.sortable,ol.sortable ol {
     list-style-type: none;
}
 .sortable li {
     border: 1px solid #d4d4d4;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     cursor: move;
     border-color: #D4D4D4 #D4D4D4 #BCBCBC;
     margin: 0;
     padding: 8px;
}
 li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
     border-color: #999;
}
 .disclose, .expandEditor {
     cursor: pointer;
     width: 20px;
     display: none;
}
 .sortable li.mjs-nestedSortable-collapsed > ol {
     display: none;
}
 .sortable li.mjs-nestedSortable-branch > div > .disclose {
     display: inline-block;
}
 .sortable span.ui-icon {
     display: inline-block;
     margin: 0;
     padding: 0;
}

.sortable li {
  margin-top: 8px;
}

.sortable .mjs-nestedSortable-expanded .mjs-nestedSortable-leaf {
  margin-top: 1px;
}

.sortable .leaf-content {
  padding: 10px;
}
