li data-node-id==(node[:id])
  div.leaf-content
    p.header
      == node[:name]
    div.actions.btn-toolbar
      = link_to I18n.t('show'), admin_category_path(node[:id]), class: 'btn btn-default btn-sm'
      = link_to I18n.t('delete'), admin_category_path(node[:id]), method: :delete, data: { confirm: I18n.t('confirmation') }, class: 'btn btn-danger btn-sm'
  - unless node[:children].empty?
    ol
      - node[:children].each do |child_node|
        = render partial: 'admin/shared/tree_item', locals: { node: child_node }
